.THIS.box {
    margin-left:100px;
    
}
.THIS .crd {
    margin-top: 50px;
    padding-left: 30px;
    padding-right:20px;
}
.THIS .box1 {
    margin-left: 150px;
    margin-top: 50px;
        
}

.THIS .btn {
    background: #7457F4;
    color: white;
}